body {
  margin: 0 auto;
  background-color: #292b2f;
  color: white;
  font-family: "Poppins";
  font-size: 15px; }
  body.first_time {
    height: 100vh;
    overflow-y: hidden; }
    body.first_time header {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    body.first_time section:nth-child(1) {
      top: 0; }
    body.first_time section:nth-child(2) {
      padding-top: 70vh; }

h1 {
  font-size: 3em;
  line-height: 1.5em;
  color: #fff;
  margin: 0.3em auto; }

.page_width {
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #292b2f;
  z-index: 100;
  -webkit-box-shadow: 0 0 60px 15px #1c1c1c;
  -moz-box-shadow: 0 0 60px 15px #1c1c1c;
  box-shadow: 0 0 60px 15px #1c1c1c; }

#header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1900px;
  height: 46px;
  box-sizing: content-box;
  padding: 12px 4%;
  -webkit-transition: padding-top 800ms;
  -moz-transition: padding-top 800ms;
  -ms-transition: padding-top 800ms;
  -o-transition: padding-top 800ms;
  transition: padding-top 800ms; }

#logo {
  cursor: pointer;
  width: 47px;
  background-image: url("../img/logo-bare.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: filter 800ms;
  -moz-transition: filter 800ms;
  -ms-transition: filter 800ms;
  -o-transition: filter 800ms;
  transition: filter 800ms; }

#nav_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 120; }

nav {
  background-color: #38CE95;
  background: -webkit-gradient(linear, left top, right bottom, from(#38CE95), to(#09516B));
  background: -webkit-linear-gradient(top left, #38CE95, #09516B);
  background: -o-linear-gradient(top left, #38CE95, #09516B);
  background: linear-gradient(to bottom right, #38CE95, #09516B);
  position: fixed;
  padding-top: calc(4% + 50px);
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  -ms-transition: all 800ms;
  -o-transition: all 800ms;
  transition: all 800ms; }
  nav a {
    color: white;
    text-decoration: none; }
  nav.hidden {
    width: 0; }
  nav div {
    padding-left: 10vw; }
  nav .nav-head {
    cursor: pointer;
    font-size: 2.3em; }
  nav .nav-list {
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    padding-left: 10vw; }
    nav .nav-list.hidden a {
      height: 0;
      overflow: hidden; }
    nav .nav-list a {
      overflow: hidden;
      -webkit-transition: all 800ms;
      -moz-transition: all 800ms;
      -ms-transition: all 800ms;
      -o-transition: all 800ms;
      transition: all 800ms;
      height: 1.8em;
      white-space: nowrap; }

#lang_switch {
  font-size: 13px;
  text-decoration: none;
  background: none;
  color: white;
  border: white solid 2px;
  border-radius: 25px;
  padding: 8px 16px; }

#menu_button {
  margin-left: 20px;
  cursor: pointer; }

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background-color: white;
  margin: 10px 0;
  transition: 0.4s; }

.bar3 {
  width: 31px;
  margin-left: 9px; }

.cross .bar1 {
  width: 44px;
  -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  transform: rotate(-45deg) translate(-10px, 10px); }

.cross .bar2 {
  opacity: 0; }

.cross .bar3 {
  width: 44px;
  margin-left: 0;
  -webkit-transform: rotate(45deg) translate(-10px, -10px);
  transform: rotate(45deg) translate(-10px, -10px); }

.home {
  height: 100vh;
  background-color: #292b2f;
  color: white;
  padding: 0;
  z-index: 50; }
  .home .page_width {
    width: 100%;
    padding-top: calc(4% + 40px);
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; }
  .home .button > div {
    padding: 0.7em 1.4em; }

#hello {
  text-align: left;
  padding-left: 8vw; }
  #hello h1, #hello h2, #hello h3 {
    z-index: 120;
    margin: 0; }
  #hello h1 {
    font-size: 4em;
    margin-bottom: -0.2em; }
  #hello h2 {
    margin-top: 0;
    font-size: 1.5em; }
  #hello h3 {
    margin-top: -0.3em;
    color: #707070;
    font-size: 1em; }

#roles {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around; }

.role {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  .role img {
    margin: 0 8vw;
    width: 25vw;
    max-width: 20vh;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms; }
  .role:hover img {
    transform: scale(1.2); }
  .role:hover .button > div {
    background-color: transparent; }
  .role a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10; }

.button {
  background-color: #38CE95;
  background: -webkit-gradient(linear, left top, right bottom, from(#38CE95), to(#09516B));
  background: -webkit-linear-gradient(top left, #38CE95, #09516B);
  background: -o-linear-gradient(top left, #38CE95, #09516B);
  background: linear-gradient(to bottom right, #38CE95, #09516B);
  font-size: 15px;
  display: inline-block;
  color: white;
  border-radius: 100px; }
  .button > div {
    background-color: #707070;
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 100px;
    -webkit-transition: background 400ms;
    -moz-transition: background 400ms;
    -ms-transition: background 400ms;
    -o-transition: background 400ms;
    transition: background 400ms; }
    .button > div:hover {
      background-color: transparent; }

section {
  padding-top: 70px;
  text-align: center;
  color: #999;
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  -ms-transition: all 800ms;
  -o-transition: all 800ms;
  transition: all 800ms; }
  section:first-child {
    position: fixed;
    top: -100vh;
    width: 100%; }

.extra_text {
  background-color: #38CE95;
  background: -webkit-gradient(linear, left top, right bottom, from(#38CE95), to(#09516B));
  background: -webkit-linear-gradient(top left, #38CE95, #09516B);
  background: -o-linear-gradient(top left, #38CE95, #09516B);
  background: linear-gradient(to bottom right, #38CE95, #09516B);
  font-size: 0.8em;
  background-attachment: fixed;
  margin-bottom: 1em;
  position: relative;
  color: white;
  padding: 50px 0;
  overflow-y: hidden;
  -webkit-transition: padding-top 600ms, padding-bottom 600ms;
  -moz-transition: padding-top 600ms, padding-bottom 600ms;
  -ms-transition: padding-top 600ms, padding-bottom 600ms;
  -o-transition: padding-top 600ms, padding-bottom 600ms;
  transition: padding-top 600ms, padding-bottom 600ms; }
  .extra_text.hidden_extra {
    height: 0;
    padding: 0;
    margin-bottom: 0; }
  .extra_text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    -webkit-box-shadow: 0 0 60px 15px #292b2f;
    -moz-box-shadow: 0 0 60px 15px #292b2f;
    box-shadow: 0 0 60px 15px #292b2f; }
  .extra_text:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    -webkit-box-shadow: 0 0 60px 15px #292b2f;
    -moz-box-shadow: 0 0 60px 15px #292b2f;
    box-shadow: 0 0 60px 15px #292b2f; }
  .extra_text p {
    margin: 0;
    margin-bottom: 1.4em;
    line-height: 1.4em;
    text-align: left; }
  .extra_text span {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid; }

.halves {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .halves > div:nth-child(1) {
    line-height: 2em; }
  .halves > div:nth-child(2) {
    line-height: 1.8em; }

footer, .contact {
  text-align: left;
  background-color: #1A1C1E;
  color: white; }

.contact {
  margin-top: 4em;
  padding-top: 3em; }
  .contact a.button {
    margin: 2em auto;
    line-height: initial;
    font-weight: bold;
    background: #38CE95;
    padding: 1em 2em;
    text-decoration: none; }

footer {
  padding: 0.5em 0 1em 0;
  margin-top: -2px; }
  footer hr {
    border-color: #707070; }
  footer span {
    color: #707070;
    font-size: 0.7em; }
    footer span a {
      color: inherit; }

.color-mint {
  color: #38CE95; }

.social {
  margin-bottom: 1em; }
  .social a {
    margin-right: 40px;
    display: inline-block; }
  .social img {
    width: 40px;
    opacity: 0.35;
    vertical-align: middle;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    -ms-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms; }
    .social img:hover {
      opacity: 0.75; }

.smaller_at_larger {
  font-size: 1em; }

.partners {
  margin: 0.5em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.partner_logo {
  position: relative;
  margin: 0.5em 1em;
  opacity: 0.66;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -ms-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms; }
  .partner_logo:hover {
    opacity: 1; }
  .partner_logo a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .partner_logo img {
    max-height: 100px;
    max-width: 300px;
    filter: grayscale(1) brightness(100);
    box-sizing: border-box; }

@media (min-aspect-ratio: 1 / 1) {
  #header {
    height: 38px; }
  body.first_time #header {
    padding-bottom: 0; }
  .home .page_width {
    padding-top: 33px; }
    .home .page_width .button > div {
      padding: 0.7em 1.4em; }
  #roles {
    flex-direction: row;
    justify-content: space-around; }
  nav {
    flex-direction: row;
    justify-content: space-evenly; }
    nav div {
      padding: 0; }
    nav .nav-head {
      font-size: 1.3em; }
    nav .nav-list {
      font-size: 1.3em;
      padding-left: 0; }
      nav .nav-list.hidden a {
        height: auto; }
      nav .nav-list a {
        height: auto; }
  #hello {
    text-align: center;
    padding-left: 0; }
    #hello h3 {
      font-size: 0.8em; }
  .role {
    flex-direction: column;
    justify-content: space-between; }
    .role img {
      height: 50%;
      width: auto;
      max-width: none;
      margin: 0; }
      .role img#wide_role {
        height: 130px;
        margin-top: 15px; }
    .role:hover .button {
      background-color: #38CE95;
      background: -webkit-gradient(linear, left top, right bottom, from(#38CE95), to(#09516B));
      background: -webkit-linear-gradient(top left, #38CE95, #09516B);
      background: -o-linear-gradient(top left, #38CE95, #09516B);
      background: linear-gradient(to bottom right, #38CE95, #09516B); } }

/* Small devices */
@media (min-width: 576px) {
  h1 {
    font-size: 4em; }
  body {
    font-size: 18px; }
  .page_width {
    width: 85%; } }

@media (min-width: 576px) and (min-aspect-ratio: 1 / 1) {
  body {
    font-size: 15px; }
  .role img {
    margin-top: 10%; }
  .halves {
    flex-direction: row; }
  .extra_text > div:not(.max_columns-1) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em; }
  .extra_text > div.max_columns-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; }
    .extra_text > div.max_columns-1 p {
      width: 60%;
      margin: 0 auto; } }

/* Medium devices */
@media (min-width: 768px) {
  body {
    font-size: 21px; }
  body.first_time #header {
    padding: 4% 4% 12px 4%; }
  #hello {
    text-align: center;
    padding-left: 0; }
    #hello h2 {
      margin-top: 0.3em; }
    #hello h3 {
      font-size: 0.8em; }
  #roles {
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  nav {
    flex-direction: row;
    justify-content: space-evenly; }
    nav div {
      padding: 0; }
    nav .nav-head {
      font-size: 1.3em; }
    nav .nav-list {
      font-size: 1.3em;
      padding-left: 0; }
      nav .nav-list.hidden a {
        height: auto; }
      nav .nav-list a {
        height: auto; }
  .role {
    flex-direction: column;
    justify-content: space-between;
    height: 40vh; }
    .role img {
      height: 50%;
      width: auto;
      max-width: none;
      margin: 0; }
      .role img#wide_role {
        height: 130px;
        margin-top: 15px; }
    .role:hover .button {
      background-color: #38CE95;
      background: -webkit-gradient(linear, left top, right bottom, from(#38CE95), to(#09516B));
      background: -webkit-linear-gradient(top left, #38CE95, #09516B);
      background: -o-linear-gradient(top left, #38CE95, #09516B);
      background: linear-gradient(to bottom right, #38CE95, #09516B); }
    .role .page_width {
      width: 80%; }
  #logo {
    width: 186px;
    background-image: url("../img/logo-full.png"); }
  .extra_text > div:not(.max_columns-1) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em; }
  .extra_text > div.max_columns-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; }
    .extra_text > div.max_columns-1 p {
      width: 60%;
      margin: 0 auto; } }

@media (min-width: 768px) and (min-aspect-ratio: 1 / 1) {
  body {
    font-size: 18px; }
  body.first_time #header {
    padding: 12px 4% 0 4%; }
  .role img {
    margin-top: 10%;
    height: 60%; }
  .halves {
    flex-direction: row; } }

@media (min-width: 992px) {
  body {
    font-size: 24px; }
    body.first_time #header {
      padding-top: 4%;
      padding-bottom: 12px; }
  #header {
    height: 46px; }
  .home .page_width {
    padding-top: calc(4% + 40px);
    height: 100vh; }
    .home .page_width .button > div {
      padding: 1em 2em; }
  .role img {
    max-height: 200px; }
    .role img#wide_role {
      height: 160px;
      margin-top: 20px; }
  .page_width {
    width: 75%; }
  .halves {
    flex-direction: row; }
  .smaller_at_larger {
    font-size: 0.8em; } }

@media (min-width: 992px) and (min-aspect-ratio: 1 / 1) {
  #header {
    height: 46px; }
  body.first_time #header {
    padding-top: 4%;
    padding-bottom: 12px; }
  .home .page_width {
    padding-top: calc(4% + 40px); } }

/* Extra large devices */
@media (min-width: 1200px) {
  body {
    font-size: 27px; }
  .page_width {
    width: 70%; }
  .extra_text > div:not(.max_columns-1):not(.max_columns-2) {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; }
  .extra_text > div.max_columns-2 p {
    width: 80%;
    margin: 0 auto; }
  .smaller_at_larger {
    font-size: 0.7em; } }

/* Extra large devices */
@media (min-width: 1921px) {
  body {
    font-size: 30px; }
  .home div.page_width {
    padding-top: 0;
    justify-content: space-evenly; }
    .home div.page_width > div {
      flex-grow: initial; }
  .role {
    max-height: 600px; }
  .role img {
    max-height: 250px; }
  .extra_text > div.page_width:not(.max_columns-1):not(.max_columns-2):not(.max_columns-3) {
    max-width: 1600px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; } }
