html {
  font-family: "Poppins";
  font-size: 15px; }

body {
  margin: 0 auto;
  background-color: #292b2f;
  color: white; }
  body.first_time {
    height: 100vh;
    overflow-y: hidden; }
    body.first_time header {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    body.first_time section:nth-child(1) {
      top: 0; }
    body.first_time section:nth-child(2) {
      padding-top: 70vh; }

h1 {
  font-size: 3rem;
  line-height: 1.5em;
  color: #fff;
  margin: 0.3em auto; }

.page_width {
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #292b2f;
  z-index: 100;
  -webkit-box-shadow: 0 0 60px 15px #1c1c1c;
  -moz-box-shadow: 0 0 60px 15px #1c1c1c;
  box-shadow: 0 0 60px 15px #1c1c1c; }

#header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1900px;
  height: 40px;
  box-sizing: content-box;
  padding: 12px 4%;
  -webkit-transition: height 800ms;
  -moz-transition: height 800ms;
  -ms-transition: height 800ms;
  -o-transition: height 800ms;
  transition: height 800ms; }

#logo {
  cursor: pointer;
  width: 47px;
  background-image: url("../img/logo-bare.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: filter 800ms;
  -moz-transition: filter 800ms;
  -ms-transition: filter 800ms;
  -o-transition: filter 800ms;
  transition: filter 800ms; }

#nav_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 120; }

nav {
  background-color: #38CE95;
  background: -webkit-gradient(linear, left top, right bottom, from(#38CE95), to(#09516B));
  background: -webkit-linear-gradient(top left, #38CE95, #09516B);
  background: -o-linear-gradient(top left, #38CE95, #09516B);
  background: linear-gradient(to bottom right, #38CE95, #09516B);
  position: fixed;
  padding-top: 74px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  -ms-transition: all 800ms;
  -o-transition: all 800ms;
  transition: all 800ms; }
  nav a {
    color: white;
    text-decoration: none; }
  nav.hidden {
    width: 0; }
  nav div {
    padding-left: 10vw; }
  nav .nav-head {
    cursor: pointer;
    font-size: 2.3rem; }
  nav .nav-list {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    padding-left: 10vw; }
    nav .nav-list.hidden a {
      height: 0;
      overflow: hidden; }
    nav .nav-list a {
      overflow: hidden;
      -webkit-transition: all 800ms;
      -moz-transition: all 800ms;
      -ms-transition: all 800ms;
      -o-transition: all 800ms;
      transition: all 800ms;
      height: 1.8em;
      white-space: nowrap; }

#lang_switch {
  font-size: 13px;
  text-decoration: none;
  background: none;
  color: white;
  border: white solid 2px;
  border-radius: 25px;
  padding: 8px 16px; }

#menu_button {
  margin-left: 20px;
  cursor: pointer; }

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background-color: white;
  margin: 10px 0;
  transition: 0.4s; }

.bar3 {
  width: 31px;
  margin-left: 9px; }

.cross .bar1 {
  width: 44px;
  -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  transform: rotate(-45deg) translate(-10px, 10px); }

.cross .bar2 {
  opacity: 0; }

.cross .bar3 {
  width: 44px;
  margin-left: 0;
  -webkit-transform: rotate(45deg) translate(-10px, -10px);
  transform: rotate(45deg) translate(-10px, -10px); }

.home {
  height: 100vh;
  background-color: #292b2f;
  color: white;
  z-index: 50; }
  .home .page_width {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; }
  .home .button > div {
    padding: 0.7em 1.4em; }

#hello {
  text-align: left;
  padding-left: 8vw; }
  #hello h1, #hello h2, #hello h3 {
    z-index: 120;
    margin: 0; }
  #hello h1 {
    font-size: 4rem;
    line-height: 1em;
    margin-bottom: 0.15em; }
  #hello h2 {
    margin-top: 0;
    font-size: 1.5rem; }
  #hello h3 {
    margin-top: -0.3em;
    color: #707070;
    font-size: 1rem; }

#roles {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch; }

.role {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  max-height: 600px; }
  .role img {
    width: 20vw;
    max-width: 20vh;
    margin: 0;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms; }
  .role:hover img {
    transform: scale(1.2); }
  .role:hover .button > div {
    background-color: transparent; }

.button {
  background-color: #38CE95;
  background: -webkit-gradient(linear, left top, right bottom, from(#38CE95), to(#09516B));
  background: -webkit-linear-gradient(top left, #38CE95, #09516B);
  background: -o-linear-gradient(top left, #38CE95, #09516B);
  background: linear-gradient(to bottom right, #38CE95, #09516B);
  font-size: 15px;
  display: inline-block;
  color: white;
  border-radius: 100px; }
  .button > div, .button > button {
    border: none;
    color: white;
    background-color: #707070;
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 100px;
    -webkit-transition: background 400ms;
    -moz-transition: background 400ms;
    -ms-transition: background 400ms;
    -o-transition: background 400ms;
    transition: background 400ms; }
    .button > div:hover, .button > button:hover {
      background-color: transparent; }

section {
  padding-top: 64px;
  box-sizing: border-box;
  text-align: center;
  color: #999;
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  -ms-transition: all 800ms;
  -o-transition: all 800ms;
  transition: all 800ms; }
  section:first-child {
    position: fixed;
    top: -100vh;
    width: 100%; }

.extra_text {
  background-color: #38CE95;
  background: -webkit-gradient(linear, left top, right bottom, from(#38CE95), to(#09516B));
  background: -webkit-linear-gradient(top left, #38CE95, #09516B);
  background: -o-linear-gradient(top left, #38CE95, #09516B);
  background: linear-gradient(to bottom right, #38CE95, #09516B);
  font-size: 0.8rem;
  background-attachment: fixed;
  margin-bottom: 1em;
  position: relative;
  color: white;
  padding: 0;
  overflow-y: hidden;
  height: auto;
  max-height: 0; }
  .extra_text.hidden_extra {
    max-height: none;
    display: none; }
  .extra_text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    -webkit-box-shadow: 0 0 60px 15px #292b2f;
    -moz-box-shadow: 0 0 60px 15px #292b2f;
    box-shadow: 0 0 60px 15px #292b2f; }
  .extra_text:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    -webkit-box-shadow: 0 0 60px 15px #292b2f;
    -moz-box-shadow: 0 0 60px 15px #292b2f;
    box-shadow: 0 0 60px 15px #292b2f; }
  .extra_text > .page_width {
    margin: 3em auto; }
  .extra_text p {
    margin: 0;
    line-height: 1.4em;
    text-align: left; }
  .extra_text strong {
    display: inline-block;
    width: 100%; }
  .extra_text strong:not(:first-child) {
    margin-top: 1.4em; }
  .extra_text .button > div, .extra_text .button > button {
    background-color: #38CE95;
    font-weight: bold;
    font-size: 0.8rem; }
    .extra_text .button > div:hover, .extra_text .button > button:hover {
      background-color: transparent; }
  .extra_text.grey_extra {
    background: #292b2f;
    font-size: 1rem;
    color: #999; }
    .extra_text.grey_extra > .page_width {
      margin: 0 auto; }
    .extra_text.grey_extra:before, .extra_text.grey_extra:after {
      display: none; }

.no_columns {
  -webkit-column-count: 1 !important;
  -moz-column-count: 1 !important;
  column-count: 1 !important; }

.halves {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .halves > div:nth-child(1) {
    line-height: 2em; }
  .halves > div:nth-child(2) {
    line-height: 1.8em; }

footer, .contact {
  text-align: left;
  background-color: #1A1C1E;
  color: white; }

.contact {
  margin-top: 4rem;
  padding-top: 3rem; }
  .contact .button {
    margin: 2em auto;
    line-height: initial;
    font-weight: bold; }
    .contact .button a {
      text-decoration: none; }
    .contact .button div {
      background-color: #38CE95; }
      .contact .button div:hover {
        background-color: transparent; }

footer {
  padding: 0.5em 0 1em 0;
  margin-top: -2px; }
  footer hr {
    border-color: #707070; }
  footer span {
    color: #707070;
    font-size: 0.7rem; }
    footer span a {
      color: inherit; }

.color-mint {
  color: #38CE95; }

.social {
  margin-bottom: 1em; }
  .social a {
    margin-right: 40px;
    display: inline-block; }
  .social img {
    width: 40px;
    opacity: 0.35;
    vertical-align: middle;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    -ms-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms; }
    .social img:hover {
      opacity: 0.75; }

.smaller_at_larger {
  font-size: 1rem; }

.partners {
  margin: 0.5em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.partner_logo {
  position: relative;
  margin: 0.5em 1em;
  opacity: 0.66;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -ms-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms; }
  .partner_logo:hover {
    opacity: 1; }
  .partner_logo a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .partner_logo img {
    max-height: 80px;
    max-width: 200px;
    filter: grayscale(1) brightness(100);
    box-sizing: border-box; }

.press_releases {
  display: flex;
  justify-content: space-evenly; }
  .press_releases .press_release {
    color: white;
    text-decoration: none; }
    .press_releases .press_release img {
      height: 4em; }
    .press_releases .press_release span {
      display: block; }

form table {
  margin: 0 auto; }

form tr {
  break-inside: avoid-column; }

form td {
  padding: 0.4em 1em; }
  form td > * {
    width: 100%;
    box-sizing: border-box;
    display: block; }

form input, form textarea, form select {
  color: white;
  font-size: 1em;
  background: transparent;
  border: none;
  border-bottom: solid 1px white; }
  form input:focus, form textarea:focus, form select:focus {
    border-bottom: solid 0.15em white;
    outline: none; }

form input {
  height: 1.7em; }
  form input[type="checkbox"] {
    width: 0.7em; }

form textarea {
  height: 4em; }

form label {
  text-align: left; }
  form label.required_field_label {
    font-weight: bold; }

form option {
  color: #1A1C1E; }

@media (min-aspect-ratio: 1 / 1) {
  .home .page_width .button > div {
    padding: 0.7em 1.4em; }
  nav {
    flex-direction: row;
    justify-content: space-evenly; }
    nav div {
      padding: 0; }
    nav .nav-head {
      font-size: 1.3rem; }
    nav .nav-list {
      font-size: 1.3rem;
      padding-left: 0; }
      nav .nav-list.hidden a {
        height: auto; }
      nav .nav-list a {
        height: auto; }
  #hello {
    text-align: center;
    padding-left: 0; }
    #hello h3 {
      font-size: 0.8rem; } }

/* Small devices */
@media (min-width: 576px) {
  html {
    font-size: 18px; }
  h1 {
    font-size: 4rem; }
  .page_width {
    width: 85%; } }

@media (min-width: 576px) and (min-aspect-ratio: 1 / 1) {
  html {
    font-size: 15px; }
  .halves {
    flex-direction: row; }
  .extra_text > .page_width:not(.max_columns-1):not(.form_columns) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em; }
  .extra_text > .page_width.max_columns-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; }
    .extra_text > .page_width.max_columns-1 p {
      width: 60%;
      margin: 0 auto; } }

@media (max-width: 767px) and (max-aspect-ratio: 1 / 1) {
  #roles {
    flex-direction: column; }
  .role {
    flex-direction: row;
    justify-content: flex-start; }
    .role img {
      margin: 0 8vw;
      width: 25vw;
      max-width: 15vh;
      -webkit-transition: all 200ms;
      -moz-transition: all 200ms;
      -ms-transition: all 200ms;
      -o-transition: all 200ms;
      transition: all 200ms; } }

/* Medium devices */
@media (min-width: 768px) {
  html {
    font-size: 20px; }
  body.first_time #header {
    height: 60px; }
  .home {
    padding-top: 84px; }
  #hello {
    text-align: center;
    padding-left: 0; }
    #hello h3 {
      font-size: 0.8rem; }
  nav {
    flex-direction: row;
    justify-content: space-evenly; }
    nav div {
      padding: 0; }
    nav .nav-head {
      font-size: 1.3rem; }
    nav .nav-list {
      font-size: 1.3rem;
      padding-left: 0; }
      nav .nav-list.hidden a {
        height: auto; }
      nav .nav-list a {
        height: auto; }
  #logo {
    width: 200px;
    background-image: url("../img/logo-full.png"); }
  .extra_text > .page_width:not(.max_columns-1):not(.form_columns) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em; }
  .extra_text > .page_width.max_columns-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; }
    .extra_text > .page_width.max_columns-1 p {
      width: 60%;
      margin: 0 auto; } }

@media (min-width: 768px) and (min-aspect-ratio: 1 / 1) {
  html {
    font-size: 18px; }
  .halves {
    flex-direction: row; } }

@media (max-width: 991px) and (min-aspect-ratio: 1 / 1) {
  #header {
    height: 36px;
    padding: 8px 4%; }
  .home {
    padding-top: 52px; }
  body.first_time #header {
    height: 36px;
    padding-bottom: 0; }
  body.first_time .home {
    padding-top: 44px; } }

@media (min-width: 992px) {
  html {
    font-size: 22px; }
  .home .page_width {
    height: 100%; }
    .home .page_width .button > div {
      padding: 1em 2em; }
  #hello h2 {
    margin-top: 0.3em; }
  .page_width {
    width: 75%; }
  .halves {
    flex-direction: row; }
  .smaller_at_larger {
    font-size: 0.8rem; }
  .extra_text > .page_width.form_columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.5em;
    -moz-column-gap: 1.5em;
    column-gap: 1.5em; } }

/* Extra large devices */
@media (min-width: 1200px) {
  html {
    font-size: 24px; }
  .page_width {
    width: 70%; }
  .extra_text > .page_width:not(.max_columns-1):not(.max_columns-2):not(.form_columns) {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; }
  .extra_text > .page_width.max_columns-2 p {
    width: 80%;
    margin: 0 auto; }
  .smaller_at_larger {
    font-size: 0.7rem; } }

/* Extra large devices */
@media (min-width: 1921px) {
  html {
    font-size: 26px; }
  .role img {
    max-width: 250px; }
  .home .page_width {
    justify-content: space-evenly; }
    .home .page_width > div {
      flex-grow: initial; }
  .extra_text > .page_width:not(.max_columns-1):not(.max_columns-2):not(.max_columns-3):not(.form_columns) {
    max-width: 1600px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; } }
