$color-dark: rgba(41, 43, 47, 1);
$color-gray: rgba(255, 255, 255, 0.25);
$header-height: 46px;
$color-mint: rgba(56, 206, 159, 1);

body {
    margin: 0 auto;
    font-family: "Poppins";
    font-size: 13px;
}

.page {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    padding-top: 70px;
    box-sizing: border-box;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-dark;
    z-index: 100;
}
#header {
    margin: 0 auto;
    max-width: 1900px;
    height: $header-height;
    box-sizing: content-box;
    padding: 12px 4%;
    transition: padding-top 800ms;
    &.first_time {
        padding-top: 4%;
    }
    > img {
        display: inline-block;
    }
}
#nav_bar {
    height: $header-height;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
}
.color-mint {
    color: $color-mint;
}
nav {
    position: fixed;
    top: 70px;
    right: 0;
    background-color: $color-dark;
    color: white;
    padding: 5px 20px 5px 5px;
    display: flex;
    flex-direction: row;
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: $color-mint;
    }
    ul {
        margin: 0 auto;
        padding: 10px;
        list-style: none;
    }
    &.hidden {
        display: none;
    }
    &.first_time {
        top: calc(4vw + 58px);
    }
}

#logo {
    height: $header-height;
}
#lang_switch {
    text-decoration: none;
    background: none;
    color: white;
    border: white solid 1px;
    border-radius: 25px;
    padding: 8px 16px;
}
#menu_button {
    cursor: pointer;
    margin-left: 20px;
    img {
        height: 38px;
        vertical-align: middle;
    }
}

#id-uvod {
    background-color: $color-dark;
    color: white;
    div.page{
        padding-top: 100px;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

#hello {
    h1, h2 {
        z-index: 110;
        text-align: center;
        margin: 0;
    }
    h1 {
        font-size: 120px;
    }
    h2 {
        margin-top: -25px;
        font-size: 40px;
        color: $color-gray;
    }
}

#roles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.role {
    position: relative;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img{
        height: 200px;
        -webkit-transition: all 200ms;
        -moz-transition: all 200ms;
        -ms-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms;
    }
    &:hover {
        img {
            transform: scale(1.2);
        }
        .button {
            background-color: white;
            color: $color-dark;
        }
    }
    a {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
}

.button {
    height: 54px;
    background: none;
    color: white;
    border: white solid 1px;
    border-radius: 27px;
    padding: 0 27px;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
    .page {
        width: 90%;
    }
}

@media (min-width: 992px) {
    .page {
        width: 85%;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    .page {
        width: 80%;
    }
}
