$color-dark: rgba(41, 43, 47, 1);
$color-deep-dark: #1A1C1E;
$color-gray: #707070;
$color-light-gray: #999;
$header-height: 40px;
$header-padding: 12px;
$big-header-height: 60px;
$small-header-height: 36px;
$small-header-padding-top: 8px;
$color-mint: #38CE95;
$gradient-from: #38CE95;
$gradient-to: #09516B;
$shadow-color: #1c1c1c;

@mixin background-gradient {
    background-color: $color-mint;
    background: -webkit-gradient(linear, left top, right bottom, from($gradient-from), to($gradient-to));
    background: -webkit-linear-gradient(top left, $gradient-from, $gradient-to);
    background: -o-linear-gradient(top left, $gradient-from, $gradient-to);
    background: linear-gradient(to bottom right, $gradient-from, $gradient-to);
}

html {
    font-family: "Poppins";
    font-size: 15px;
}

body {
    margin: 0 auto;
    background-color: $color-dark;
    color: white;
    &.first_time {
        height: 100vh;
        overflow-y: hidden;
        header {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        section:nth-child(1) {
            top: 0;
        }
        section:nth-child(2) {
            padding-top: 70vh;
        }
    }
}


h1 {
    font-size: 3rem;
    line-height: 1.5em;
    color: #fff;
    margin: 0.3em auto;
}
.page_width {
    width: 90%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-dark;
    z-index: 100;
    -webkit-box-shadow: 0 0 60px 15px $shadow-color;
    -moz-box-shadow: 0 0 60px 15px $shadow-color;
    box-shadow: 0 0 60px 15px $shadow-color;
}
#header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1900px;
    height: $header-height;
    box-sizing: content-box;
    padding: $header-padding 4%;
    -webkit-transition: height 800ms;
    -moz-transition: height 800ms;
    -ms-transition: height 800ms;
    -o-transition: height 800ms;
    transition: height 800ms;
}
#logo {
    cursor: pointer;
    width: 47px;
    background-image: url("../img/logo-bare.png");
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: filter 800ms;
    -moz-transition: filter 800ms;
    -ms-transition: filter 800ms;
    -o-transition: filter 800ms;
    transition: filter 800ms;
}
#nav_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 120;
}
nav {
    @include background-gradient;
    position: fixed;
    padding-top: 74px;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    -webkit-transition: all 800ms;
    -moz-transition: all 800ms;
    -ms-transition: all 800ms;
    -o-transition: all 800ms;
    transition: all 800ms;
    a {
        color: white;
        text-decoration: none;
    }
    &.hidden {
        width: 0;
    }
    div {
        padding-left: 10vw;
    }
    .nav-head {
        cursor: pointer;
        font-size: 2.3rem;
    }
    .nav-list {
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
        padding-left: 10vw;
        &.hidden a {
            height: 0;
            overflow: hidden;
        }
        a {
            overflow: hidden;
            -webkit-transition: all 800ms;
            -moz-transition: all 800ms;
            -ms-transition: all 800ms;
            -o-transition: all 800ms;
            transition: all 800ms;
            height: 1.8em;
            white-space: nowrap;
        }
    }
}
#lang_switch {
    font-size: 13px;
    text-decoration: none;
    background: none;
    color: white;
    border: white solid 2px;
    border-radius: 25px;
    padding: 8px 16px;
}

#menu_button {
    margin-left: 20px;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    margin: 10px 0;
    transition: 0.4s;
}
.bar3 {
    width: 31px;
    margin-left: 9px;
}
.cross {
    .bar1 {
        width: 44px;
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    .bar2 {
        opacity: 0;
    }
    .bar3 {
        width: 44px;
        margin-left: 0;
        -webkit-transform: rotate(45deg) translate(-10px, -10px);
        transform: rotate(45deg) translate(-10px, -10px);
    }
}

.home {
    height: 100vh;
    background-color: $color-dark;
    color: white;
    z-index: 50;
    .page_width{
        width: 100%;
        height: 90%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    .button > div {
        padding: 0.7em 1.4em;
    }
}

#hello {
    text-align: left;
    padding-left: 8vw;
    h1, h2, h3 {
        z-index: 120;
        margin: 0;
    }
    h1 {
        font-size: 4rem;
        line-height: 1em;
        margin-bottom: 0.15em;
    }
    h2 {
        margin-top: 0;
        font-size: 1.5rem;
    }
    h3 {
        margin-top: -0.3em;
        color: $color-gray;
        font-size: 1rem;
    }
}

#roles {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.role {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    max-height: 600px;
    img {
        width: 20vw;
        max-width: 20vh;
        margin: 0;
        -webkit-transition: all 200ms;
        -moz-transition: all 200ms;
        -ms-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms;
    }
    &:hover {
        img {
            transform: scale(1.2);
        }
        .button > div {
            background-color: transparent;
        }
    }
}

.button {
    @include background-gradient;
    font-size: 15px;
    display: inline-block;
    color: white;
    border-radius: 100px;
    > div, > button {
        border: none;
        color: white;
        background-color: $color-gray;
        padding: 1em 2em;
        cursor: pointer;
        border-radius: 100px;
        -webkit-transition: background 400ms;
        -moz-transition: background 400ms;
        -ms-transition: background 400ms;
        -o-transition: background 400ms;
        transition: background 400ms;
        &:hover {
            background-color: transparent;
        }
    }
}

section {
    padding-top: $header-height + $header-padding + $header-padding;
    box-sizing: border-box;
    text-align: center;
    color: $color-light-gray;
    -webkit-transition: all 800ms;
    -moz-transition: all 800ms;
    -ms-transition: all 800ms;
    -o-transition: all 800ms;
    transition: all 800ms;
    &:first-child {
        position: fixed;
        top: -100vh;
        width: 100%;
    }
}

.extra_text {
    @include background-gradient;
    font-size: 0.8rem;
    background-attachment: fixed;
    margin-bottom: 1em;
    position: relative;
    color: white;
    padding: 0;
    overflow-y: hidden;
    height: auto;
    max-height: 0;
    &.hidden_extra {
        max-height: none;
        display: none;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        -webkit-box-shadow: 0 0 60px 15px $color-dark;
        -moz-box-shadow: 0 0 60px 15px $color-dark;
        box-shadow: 0 0 60px 15px $color-dark;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        -webkit-box-shadow: 0 0 60px 15px $color-dark;
        -moz-box-shadow: 0 0 60px 15px $color-dark;
        box-shadow: 0 0 60px 15px $color-dark;
    }
    > .page_width {
        margin: 3em auto;
    }
    p {
        margin: 0;
        line-height: 1.4em;
        text-align: left;
    }
    strong {
        display: inline-block;
        width: 100% ;
    }
    strong:not(:first-child) {
        margin-top: 1.4em;
    }
    .button > div, .button > button {
        background-color: $color-mint;
        font-weight: bold;
        font-size: 0.8rem;
        &:hover {
            background-color: transparent;
        }
    }
}

.no_columns {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
}

.halves {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > div:nth-child(1) {
        line-height: 2em;
    }
    > div:nth-child(2) {
        line-height: 1.8em;
    }
}
footer, .contact {
    text-align: left;
    background-color: $color-deep-dark;
    color: white;
}
.contact {
    margin-top: 4rem;
    padding-top: 3rem;
    .button {
        margin: 2em auto;
        line-height: initial;
        font-weight: bold;
        a {
            text-decoration: none;
        }
        div {
            background-color: $color-mint;
            &:hover {
                background-color: transparent;
            }
        }
    }
}
footer {
    padding: 0.5em 0 1em 0;
    margin-top: -2px;
    hr {
        border-color: $color-gray;
    }
    span {
        color: $color-gray;
        font-size: 0.7rem;
        a {
            color: inherit;
        }
    }
}
.color-mint {
    color: $color-mint;
}
.social {
    margin-bottom: 1em;
    a {
        margin-right: 40px;
        display: inline-block;
    }
    img {
        width: 40px;
        opacity: 0.35;
        vertical-align: middle;
        -webkit-transition: opacity 400ms;
        -moz-transition: opacity 400ms;
        -ms-transition: opacity 400ms;
        -o-transition: opacity 400ms;
        transition: opacity 400ms;
        &:hover {
            opacity: 0.75;
        }
    }
}
.smaller_at_larger {
    font-size: 1rem;
}

.partners {
    margin: 0.5em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.partner_logo {
    position: relative;
    margin: 0.5em 1em;
    opacity: 0.66;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    -ms-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms;
    &:hover {
        opacity: 1;
    }
    a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    img {
        max-height: 80px;
        max-width: 200px;
        filter: grayscale(1) brightness(100);
        box-sizing: border-box;
    }
}
.press_releases {
    display: flex;
    justify-content: space-evenly;
    .press_release {
        color: white;
        text-decoration: none;
        img {
            height: 4em;
        }
        span {
            display: block;
        }
    }
}

form {
    table {
        margin: 0 auto;
    }
    tr {
        break-inside: avoid-column;
    }
    td {
        padding: 0.4em 1em;
        > * {
            width: 100%;
            box-sizing: border-box;
            display: block;
        }
    }
    input, textarea, select {
        color: white;
        font-size: 1em;
        background: transparent;
        border: none;
        border-bottom: solid 1px white;
        &:focus {
            border-bottom: solid 0.15em white;
            outline: none;
        }
    }
    input {
        height: 1.7em;
        &[type="checkbox"] {
            width: 0.7em;
        }
    }
    textarea {
        height: 4em;
    }
    label {
        text-align: left;
        &.required_field_label {
            font-weight: bold;
        }
    }

    option {
        color: $color-deep-dark;
    }
}

@media (min-aspect-ratio: 1/1) {
    .home .page_width {
        .button > div{
            padding: 0.7em 1.4em;
        }
    }
    nav {
        flex-direction: row;
        justify-content: space-evenly;
        div {
            padding: 0;
        }
        .nav-head {
            font-size: 1.3rem;
        }
        .nav-list {
            font-size: 1.3rem;
            padding-left: 0;
            &.hidden a {
                height: auto;
            }
            a {
                height: auto;
            }
        }
    }
    #hello {
        text-align: center;
        padding-left: 0;
        h3 {
            font-size: 0.8rem;
        }
    }
}

/* Small devices */
@media (min-width: 576px) {
    html {
        font-size: 18px;
    }
    h1 {
        font-size: 4rem;
    }
    .page_width {
        width: 85%;
    }
}
@media (min-width: 576px) and (min-aspect-ratio: 1/1) {
    html {
        font-size: 15px;
    }
    .halves {
        flex-direction: row;
    }
    .extra_text > .page_width:not(.max_columns-1):not(.form_columns) {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 3em;
        -moz-column-gap: 3em;
        column-gap: 3em;
    }
    .extra_text > .page_width.max_columns-1 {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        p {
            width: 60%;
            margin: 0 auto;
        }
    }
}


@media (max-width: 767px) and (max-aspect-ratio: 1/1) {
    #roles {
        flex-direction: column;
    }
    .role {
        flex-direction: row;
        justify-content: flex-start;
        img {
            margin: 0 8vw;
            width: 25vw;
            max-width: 15vh;
            -webkit-transition: all 200ms;
            -moz-transition: all 200ms;
            -ms-transition: all 200ms;
            -o-transition: all 200ms;
            transition: all 200ms;
        }
    }
}


    /* Medium devices */
@media (min-width: 768px) {
    html {
        font-size: 20px;
    }
    body.first_time #header {
        height: $big-header-height;
    }
    .home {
        padding-top: $big-header-height + $header-padding + $header-padding;
    }
    #hello {
        text-align: center;
        padding-left: 0;
        h3 {
            font-size: 0.8rem;
        }
    }
    nav {
        flex-direction: row;
        justify-content: space-evenly;
        div {
            padding: 0;
        }
        .nav-head {
            font-size: 1.3rem;
        }
        .nav-list {
            font-size: 1.3rem;
            padding-left: 0;
            &.hidden a {
                height: auto;
            }
            a {
                height: auto;
            }
        }
    }
    #logo {
        width: 200px;
        background-image: url("../img/logo-full.png");
    }
    .extra_text > .page_width:not(.max_columns-1):not(.form_columns) {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 3em;
        -moz-column-gap: 3em;
        column-gap: 3em;
    }
    .extra_text > .page_width.max_columns-1 {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        p {
            width: 60%;
            margin: 0 auto;
        }
    }
}
@media (min-width: 768px) and (min-aspect-ratio: 1/1) {
    html {
        font-size: 18px;
    }
    .halves {
        flex-direction: row;
    }
}

@media (max-width: 991px) and (min-aspect-ratio: 1/1) {
    #header {
        height: $small-header-height;
        padding: $small-header-padding-top 4%;
    }
    .home {
        padding-top: $small-header-height + $small-header-padding-top + $small-header-padding-top;
    }
    body.first_time {
        #header {
            height: $small-header-height;
            padding-bottom: 0;
        }
        .home {
            padding-top: $small-header-height + $small-header-padding-top;
        }
    }
}

@media (min-width: 992px) {
    html {
        font-size: 22px;
    }
    .home {
        .page_width {
            height: 100%;
            .button > div {
                padding: 1em 2em;
            }
        }
    }
    #hello {
        h2 {
            margin-top: 0.3em;
        }
    }
    .page_width {
        width: 75%;
    }
    .halves {
        flex-direction: row;
    }
    .smaller_at_larger {
        font-size: 0.8rem;
    }
    .extra_text > .page_width.form_columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.5em;
        -moz-column-gap: 1.5em;
        column-gap: 1.5em;
    }
}

@media (min-width: 992px) and (min-aspect-ratio: 1/1) {

}
/* Extra large devices */
@media (min-width: 1200px) {
    html {
        font-size: 24px;
    }
    .page_width {
        width: 70%;
    }
    .extra_text > .page_width:not(.max_columns-1):not(.max_columns-2):not(.form_columns) {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    .extra_text > .page_width.max_columns-2 p {
        width: 80%;
        margin: 0 auto;
    }

    .smaller_at_larger {
        font-size: 0.7rem;
    }
}

/* Extra large devices */
@media (min-width: 1921px) {
    html {
        font-size: 26px;
    }
    .role {
        img {
            max-width: 250px;
        }
    }
    .home .page_width {
        justify-content: space-evenly;
        > div {
            flex-grow: initial;
        }
    }
    .extra_text > .page_width:not(.max_columns-1):not(.max_columns-2):not(.max_columns-3):not(.form_columns) {
        max-width: 1600px;
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
