{% load staticfiles %}{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'festival/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'festival/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'festival/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'festival/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'festival/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'festival/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'festival/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'festival/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'festival/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'festival/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'festival/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'festival/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'festival/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'festival/favicon/manifest.json' %}">
    <meta name="theme-color" content="#1A1C1E">
    <meta name="msapplication-TileColor" content="#292b2f">
    <meta name="msapplication-TileImage" content="{% static 'festival/favicon/ms-icon-144x144.png' %}">
    <title>{% block title %}Kraťasy (>) Mezinárodní festival krátkých filmů{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:light,bold" rel="stylesheet">
    <script src="{%  static '/festival/js/script.js' %}"></script>
    <link rel="stylesheet" href="{%  static 'festival/css/style.css' %}">
    {% block head %}{% endblock %}
</head>
<body {% if view.first_time or view.home %}class="first_time"{% endif %}>
{% block content %}
    <section id="id-uvod"><div class="page_width">
        <div id="hello">
            <h1>{% trans "ahoj." %}</h1>
            <h2>{% trans "s kým máme tu čest?" %}</h2>
        </div>
        <div id="roles">
            <div class="role">
                <a href="/{% trans "tvurce" %}/?first=1"></a>
                <img src="{% static 'festival/img/author.png' %}">
                <div class="button"><div>{% trans "tvůrce" %}</div></div>
            </div>
            <div class="role">
                <a href="/{% trans "navstevnik" %}/?first=1"></a>
                <img id="wide_role" src="{% static 'festival/img/visitor.png' %}">
                <div class="button"><div>{% trans "návštěvník" %}</div></div>
            </div>
            <div class="role">
                <a href="/{% trans "novinar" %}/?first=1"></a>
                <img src="{% static 'festival/img/journalist.png' %}">
                <div class="button"><div>{% trans "novinář" %}</div></div>
            </div>
        </div>
    </div></section>
{% endblock %}
    <header>
        <nav {% if not view.nav %}class="hidden"{% endif %}>
            {% regroup view.all_sections by role as section_list %}{% for group in section_list %}
            <ul>
                <li><a href="/{{ group.list.0.get_role_display|slugify }}/" {% if group.grouper == view.role %} {% endif %}><b>{{ group.list.0.get_role_display }}</b></a></li>{% for section in group.list %}
                <li><a href="/{{ section.get_role_display|slugify }}/#{% if request.LANGUAGE_CODE == 'en' %}{{ section.slug_en }}">{{ section.headline_en }}{% else %}{{ section.slug }}">{{ section.headline }}{% endif %}</a></li>{% endfor %}
            </ul>{% endfor %}
        </nav>
        <div id="header">
            <div id="logo" {% if view.nav %}class="nav_on"{% endif %}></div>
            <div id="nav_bar">{% with request.path|slice:"1:" as path %}{% if request.LANGUAGE_CODE == 'en' %}{% language "cs" %}
                <a href="/{% trans path %}" id="lang_switch">cs/<b>en</b></a>{% endlanguage %}{% else %}{% language "en" %}
                <a href="/{% trans path %}" id="lang_switch"><b>cs</b>/en</a>{% endlanguage %}{% endif %}{% endwith %}
                <a id="menu_button"><img src="{% static 'festival/img/menu.png' %}"></a>
            </div>
        </div>
    </header>
{% block js %}{% endblock %}
</body>
