{% extends 'festival/base.html' %}{% load festival_filters i18n %}

{% block content %}
    {{ block.super }}
    <main><article>
    {% for section in object_list %}
    <section id="id-{% if request.LANGUAGE_CODE == 'en' %}{{ section.slug_en }}{% else %}{{ section.slug }}{% endif %}">{% if section.auto_headline %}
        <h1>{% if request.LANGUAGE_CODE == 'en' %}{{ section.headline_en }}{% else %}{{ section.headline }}{% endif %}</h1>{% endif %}
        <div class="page_width">{% if section.widget and section.widget_first %}
            {% include section.get_widget.template_name with widget_context=section.widget_context %}{% endif %}
            <div class="text">{% if request.LANGUAGE_CODE == 'en' %}{{ section.full_text_en|add_nbsps|safe }}{% else %}{{ section.full_text|add_nbsps|safe }}{% endif %}</div>
            {% if section.widget and not section.widget_first %}
            {% include section.get_widget.template_name with widget_context=section.widget_context %}{% endif %}
        </div>{% if request.LANGUAGE_CODE == 'en' and section.extra_full_text_en %}
        <div id="{{ section.slug_en }}-extra_text" class="extra_text hidden_extra"><div class="page_width{% if section.max_columns %} max_columns-{{ section.max_columns }}{% endif %}">{{ section.extra_full_text_en|add_nbsps|safe }}</div></div>
        <div class="button"><div id="{{ section.slug_en }}-button" class="extra_button">{% trans 'chceš vědět víc?' %}</div></div>{% elif request.LANGUAGE_CODE == 'cs' and section.extra_full_text %}
        <div id="{{ section.slug_en }}-extra_text" class="extra_text hidden_extra"><div class="page_width{% if section.max_columns %} max_columns-{{ section.max_columns }}{% endif %}">{{ section.extra_full_text|add_nbsps|safe }}</div></div>
        <div class="button"><div id="{{ section.slug_en }}-button" class="extra_button">{% trans 'chceš vědět víc?' %}</div></div>{% endif %}
    </section>
    {% endfor %}
    </article>
    {% include 'festival/contact.html' %}
    </main>
{% endblock %}

{% block js %}
    <script>

function open_extra($extra){
    var height = $extra.height();
    $extra.removeClass('hidden_extra');
    $extra.animate({
        'max-height': height + 'px',
    }, 500, function () {
        $extra.css('max-height', 'none');
    });
}

function close_extra($extra){
    var height = $extra.height();
    $extra.css('max-height', height + 'px');
    $extra.animate({
        'max-height': 0,
    }, 500, function () {
        $extra.addClass('hidden_extra');
        $extra.removeAttr('style');
    });
}

$(function(){{% if not view.home %}
    $('body').removeClass('first_time');{% endif %}
    $('#logo').on('click', function () {
        $('body').addClass('first_time');
        $('nav').addClass('hidden');
        $('#menu_button').removeClass('cross');
    });
    $('.extra_button').on('click', function () {
        var $text = $('#' + $(this).attr('id').replace('-button', '-extra_text'));
        if ($text.hasClass('hidden_extra')){
            open_extra($text);
            if ($text.attr('id') === 'film-register-widget-extra_text'){
                $(this).html("{% trans 'radši si to ještě pročtu' %}");
            } else if ($text.attr('id') === 'sponsor-widget-extra_text'){
                $(this).html("{% trans 'hlavní partneři' %}");
            } else {
                $(this).html("{% trans 'chceš vědět míň?' %}");
            }
        } else {
            close_extra($text);
            readyToScroll = false;
            page = $pages.index($text.parent());
            scrollToPage(400);
            if ($text.attr('id') === 'film-register-widget-extra_text'){
                $(this).html("{% trans 'četl jsem a chci přihlásit svůj film' %}");
            } else if ($text.attr('id') === 'sponsor-widget-extra_text'){
                $(this).html("{% trans 'všichni partneři' %}");
            } else {
                $(this).html("{% trans 'chceš vědět víc?' %}");
            }
        }
    });
})
    </script>
{% endblock %}