{% load i18n %}
</div>
<div id="film-register-widget-extra_text" class="extra_text hidden_extra">
</div>
<script>
function get_film_registration_form(){
    $.ajax({
        type: 'GET',
        url: '/ajax/film-registration/',
        cache: true
    }).done(function(response){
        $("#film-register-widget-extra_text").html(response);
        $form = $('#film-registration-form');
        $form.submit(function(event){
            event.preventDefault();
            post_film_registration_form($form);
        });
    });
}

function post_film_registration_form($form){
    $.ajax({
        type: 'POST',
        url: '/ajax/film-registration/',
        data: $form.serialize(),
        success: function(response) {
            $("#film-register-widget-extra_text").html(response);
        }
    });
}

$(function () {
    get_film_registration_form();
})
</script>
<div class="button"><div id="film-register-widget-button" class="extra_button">{% trans 'četl jsem a chci přihlásit svůj film' %}</div></div>
<div>