{% load i18n %}{% load imagekit %}
<div id="hot_news">{% for article in widget_context.object_list %}
    <div class="hot_new">{% if request.LANGUAGE_CODE == 'en' %}
        <img src="{% if article.photo.cropped %}{{ article.photo.cropped.url }}{% else %}{% generateimage 'festival:auto_crop' source=article.photo.original as ac %}{{ ac.url }}{% endif %}" alt="{{ article.headline_en }}">
        <h3 class="new_headline">{{ article.headline_en }}</h3>
        <p class="smaller_at_larger">{{ article.date }}</p>
        <p class="smaller_at_larger">{{ article.short_text_en }}</p>
        <a href="/{% trans 'clanky/' %}{{ article.slug_en }}/"></a>{% else %}
        <img src="{% if article.photo.cropped %}{{ article.photo.cropped.url }}{% else %}{% generateimage 'festival:auto_crop' source=article.photo.original as ac %}{{ ac.url }}{% endif %}" alt="{{ article.headline }}">
        <h3 class="new_headline">{{ article.headline }}</h3>
        <p class="smaller_at_larger">{{ article.date }}</p>
        <p class="smaller_at_larger">{{ article.short_text }}</p>
        <a href="/{% trans 'clanky/' %}{{ article.slug }}/"></a>{% endif %}
    </div>{% endfor %}
</div>
<a href="/{% trans 'clanky/' %}"><div class="button"><div>{% trans 'chci další články' %} &#9658</div></div></a>